:root {
    background-color: black;
    color: white;
    font-family: monospace;
}

button {
    font-size: 18px;
    /* we set these again here because otherwise the user agent stylesheet
     * would overwrite the color and font of buttons */
    background-color: black;
    color: white;
    font-family: monospace;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.fill-horizontal {
    width: 100%;
    font-family: serif;
}

.fill-vertical {
    height: 100%;
}

.main-menu {
    font-size: 24px;
    
}

.main-menu button {
    font-size: 24px;
}

.world-screen-header {
    background-color: blueviolet;
    height: 100px;
    margin: 0px;
}

.world-screen-hbox {
    height: 800px;
    margin: 0;

    display: flex;
    flex-direction: row;
}

.world-screen-map-box {
    height: 100%;
    width: 100%;
}

.map-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
}

.world-screen-sidebar {
    background-color: black;
    width: 400px;
    margin: 20px;
    font-size: 16px;
}

.world-screen-inventory {
    background-color: orange;
    width: 400px;
    margin: 0px;
}
