.main-menu {
    display: flex;
    flex-direction: column;
}

.main-menu h1 {
    font-size: 40pt;
    margin: 0;
    padding: 0;
}

.main-menu-options button {
    display: flex;
    flex-direction: column;
}

.main-menu button {
    font-size: 24pt;
    border: none;
    margin: 0;
    padding: 0;
}

.main-menu button:hover {
    font-size: 30pt;
}

.main-menu button:active {
    color: gray;
}
