.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    background-image: url(../assets/ui/planet.png);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 100%;
    margin: 0;
}

.main-menu.pause-menu {

    background-image: none;
}

.main-menu h1 {
    font-size: 40pt;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.main-menu h2 {
    font-size: 30pt;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 16px;
    padding: 0;
}

.main-menu-options {
    margin-left: 20px;
}

.main-menu-options button {
    display: flex;
    flex-direction: column;
}

.main-menu button {
    font-size: 24pt;
    border: none;
    margin: 0;
    padding: 0;
}

.main-menu button:hover {
    font-size: 30pt;
}

.main-menu button:active {
    color: gray;
}

.credits {
    margin-right: auto;
    margin-left: auto;
    margin-left: 5px;
}


.credits-entry-large {
    margin-top: 0px;
    margin-bottom: 10px;
}

.credits-entry-small {
    margin-top: 0px;
    margin-bottom: 10px;
}

.credits-entry-large h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28pt;
}

.credits-entry-small h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22pt;
}

.credits-entry-large p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20pt;
}

.credits-entry-small p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18pt;
}

.credits button {
    margin-top: 0pt;
    font-size: 20pt;
}

.settings {
    display: flex;
    flex-direction: column;
}

.settings h1 {
    font-size: 24pt;
    margin-bottom: 0pt;
    margin-left: 5pt;
}

.settings-slider {
    display: flex;
    font-size: 15pt;
    margin: 0;
    margin-left: 5pt;
}

.settings-slider p {
    margin-bottom: 0;
    margin-top: 5px;
}

.settings button {
    margin-top: 5pt;
    margin-bottom: 5pt;
}


.ending-page {
    width: 33%;
    min-width: 7in;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 7in) {
    .ending-page {
        width: 100%;
        min-width: 0;
    }
}

.ending-page h1 {
    margin-bottom: 0;
}

.ending-page p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.ending-page button {
    width: 100%;
}

.confirm-menu.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-image: none;
}

.confirm-menu h1 {
    font-size: 30pt;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.confirm-menu p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 10pt;
}

.message-screen {
    display: flex;
    flex-direction: column;
}

.message-screen h1 {
    margin-bottom: 0;
}

.message-screen p {
    margin-top: 0;
}

.achievements-screen {
    width: 7in;
    min-width: 50%;
}

@media (max-width: 7in) {
    .achievements-screen {
        width: 100%;
    }
}

.achievements-screen h1 {
    font-size: 36pt;
    margin-bottom: 10pt;

}

.achievement {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}

.achievement h1 {
    font-size: 30pt;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 0;
}

.achievement p {
    font-size: 16pt;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60pt;
    margin-right: 0;
}

.achievements-screen button {
    margin-top: 10pt;
}

.achievement-header {
    display: flex;
    flex-direction: row;
}

@keyframes achievement-fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}

.achievement-popup {
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: auto;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);

    animation-name: achievement-fade;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

.achievement-popup h1 {
    margin: 0;
    font-size: 30pt;
}

.achievement-popup p {
    font-size: 20pt;
    margin: 0;
    text-align: center;
}
