.main-menu {
    display: flex;
    flex-direction: column;
}

.main-menu h1 {
    font-size: 40pt;
    margin: 0;
    padding: 0;
}

.main-menu-options button {
    display: flex;
    flex-direction: column;
}

.main-menu button {
    font-size: 24pt;
    border: none;
    margin: 0;
    padding: 0;
}

.main-menu button:hover {
    font-size: 30pt;
}

.main-menu button:active {
    color: gray;
}

.credits {
    margin-right: auto;
    margin-left: auto;
    margin-left: 5px;
}


.credits-entry {
    margin-top: 20px;
}

.credits-entry h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30pt;
}

.credits-entry p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20pt;
}

.credits button {
    margin-top: 10pt;
    font-size: 20pt;
}

.settings {
    display: flex;
    flex-direction: column;
}

.settings h1 {
    font-size: 24pt;
    margin-bottom: 10pt;
}

.settings-slider {
    display: flex;
    font-size: 15pt;
    margin: 5pt;
}

.settings button {
    margin-top: 15pt;
}


.ending-page {
    width: 33%;
    min-width: 7in;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 7in) {
    .ending-page {
        width: 100%;
        min-width: 0;
    }
}

.ending-page h1 {
    margin-bottom: 0;
}

.ending-page p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.ending-page button {
    width: 100%;
}
