.production-screen {
    padding-left: 10pt;
    font-size: 16pt;
    margin: 0pt;
}

.production-screen h1 {
    margin-block-end: 0;
    margin-block-start: 0;
}

.production-screen-label {
    margin-block-start: 0.5em;
    margin-block-end: 0.25em;
}

.production-screen-available-workers {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.production-screen-inventory {
    outline: solid white;
    width: 7in;
    min-width: 50%;
}

@media (max-width: 7in) {
    .production-screen-inventory {
        width: 100%;
    }
}

.production-screen-inventory p {
    font-size: 16pt;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1pt;
}

.production-screen-worker-consumption-label {
    margin-block-end: 0.25em;
    margin-block-start: 0.25em;
}

.production-screen-worker-consumption {
    margin-block-end: 0;
    margin-block-start: 0;
}

.free-conversions-list {
    margin-bottom: 16pt;
}

.conversion {
    width: 7in;
    min-width: 50%;
    display: flex;
    flex-direction: row;

}

@media (max-width: 7in) {
    .conversion {
        width: 100%;
    }
}

.conversion-description {
    margin: 0pt; /* remove margin between description and surrounding box */
    font-size: 16pt;
    text-align: left;
}

.conversion-description-box {
    border: 2px solid white;
    width: 100%;
}

.conversion-description-normal {
    color: white;
}

.conversion-description-cannot-afford {
    color: tomato;
}

.conversion-description-disabled {
    color: yellow;
}

.population-consumption-met {
    font-size: 16pt;
}

.population-consumption-unmet {
    font-size: 16pt;
    color: tomato;
}

.population-death-label {
    font-size: 16pt;
    color: tomato;
    margin-block-end: 0;
    margin-block-start: 0;
}

.production-screen-back-button {
    font-size: 20pt;
    margin-top: 20pt;
}
