@import 'menus.css';
@import 'worldscreen.css';
@import 'productionscreen.css';
@import 'transitionscreen.css';

:root {
    background-color: black;
    color: white;
    font-family: monospace;
}

button {
    font-size: 18px;
    /* we set these again here because otherwise the user agent stylesheet
     * would overwrite the color and font of buttons */
    background-color: black;
    color: white;
    font-family: monospace;
}

button:focus {
    outline: 0;
}

button:disabled,
button[disabled]{
  color: #808080;
  border-color: #808080;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.fill-horizontal {
    width: 100%;
    font-family: serif;
}

.fill-vertical {
    height: 100%;
}
