.transition-quote-panel {
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    width: 420px;
}

.transition-attribution {
    margin-left: 50px;
}

.transition-loading-area {
    text-align: center;
}

.transition-loading-bar {
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 20px;
    border: 2px white solid;
    background-image: linear-gradient(white, white);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .75s;
}

.transition-loading-area.loading .transition-loading-bar {
    background-size: 80% 100%;
}

.transition-loading-area.loaded .transition-loading-bar {
    background-size: 100% 100%;
}