@keyframes loading-bar {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.transition-quote-panel {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    width: 420px;
}

.transition-attribution {
    margin-left: 50px;
}

.transition-loading-area {
    text-align: center;
}

.transition-loading-bar {
    margin-right: auto;
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-color: white transparent;
    border-width: 5px;
    border-radius: 50%;
    border-style: solid;
    animation-name: loading-bar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

