.world-screen {
    overflow: hidden; /* hide scrollbar */
}

.world-screen-header {
    display: flex;
    flex-direction: row;
    margin: 0px;
    min-height: 60px;
}

.world-screen-quest-description {
    font-size: 16px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.quest-description-emphasis {
    color: rgb(64, 128, 64);
    font-weight: bold;
}

.world-screen-hbox {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.world-screen-map-box {
    height: 100%;
    width: 100%;
}

.map-canvas {
    width: 100%;
    margin: 0;
}

.world-screen-sidebar {
    background-color: black;
    width: 20%;
    min-width: 2in;
    padding: 10px;
    font-size: 16px;
    overflow-y: auto;
    height: calc(100vh - 125px);
}

.tile-project {
    border: solid white;
    margin-top: 5pt;
}

.tile-project button {
    width: 100%;
}

.tile-project p {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.project-requirement-met {
    color: white;
}

.project-requirement-unmet {
    color: tomato;
}

.world-screen-inventory {
    width: 4in;
    margin: 10px;
    font-size: 16px;
    white-space: nowrap;
}

.world-screen-inventory h1 {
    margin-bottom: 0;
    margin-top: 0.25em;
}

.world-screen-inventory p {
    margin-top: 2pt;
    margin-bottom: 0;
}
